<section>

 <!-- <article>
    <h3>Interpolation/Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>O resultado de 1 + 1 é: {{ 1+1 }}</p>
    <p>O resultado de 1 + 1 não é {{1 + 1 + getValor()}}</p>
    <p>Curtiu o curso de angular: {{ cursoAngula && getCurtirCurso() }}</p>
  </article>

  <article>
     <h3>
       PropertyBinding
     </h3>
     <img src="{{urlImagem}}">
     <img [src]="urlImagem">
  </article>

  <article>
    <h3>Class e Style Binding</h3>

    <div>
      Selecione uma classe:
      <select #class (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Perigo</option>
      </select>
      <br><br>


      <div class="alert {{ class.value }}" role="alert">
        texto colorido conforme o valor do comboBox
      </div>

      <div class="alert" role="alert"
      [class.alert-success]=" class.value == 'alert-success' ">Sucesso</div>

      <div class="alert" role="alert"
      [class.alert-info]=" class.value == 'alert-info' ">Info</div>

      <div class="alert" role="alert"
      [class.alert-warning]=" class.value == 'alert-warning' ">Alerta</div>

      <div class="alert" role="alert"
      [class.alert-danger]=" class.value == 'alert-danger' ">Erro</div>

      <div class="alert alert-danger" role="alert"
      [style.display]="class.value == 'alert-danger' ? 'block' : 'none'"   >
        esse texto so aparece em caso de erro
      </div>

    </div>
  </article> -->


</section>

<section class="event-binding">
   <!--<article>
    <h3>Event binding</h3>

   <div>
     <button (click)="botaoClicado()"
     class="btn btn-primary">Click Em Mim</button>
     <br><br>

     <input type="text"
     (keyup)="onKeyOn($event)"
     (keyup.enter)="salvarValor(campoInput.value)"
     (blur)="salvarValor(campoInput.value)"
     #campoInput />

      <p>valor atual: {{valorAtual}}</p>
      <p>valor salvo: {{valorSalvo}}</p>
      <br>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver">
        passe o mouse sobre mim
      </span
      >
   </div>

  </article>-->
</section>


<!--<app-meu-form></app-meu-form>-->

<section class="input-output-properties">
  <article>
    <h3>Input/OutPut Properties</h3>

    <app-curso [nome]="nomeDoCurso"></app-curso>

  </article>
</section>
